// Page building blocks

%genericons {
	display: inline-block;
	font: normal 16px/1 "Genericons";
	vertical-align: text-bottom;
}

@mixin page-container($top: 0, $right: auto, $bottom: 0, $left: auto) {
	width: $page-width;
	margin: $top $right $bottom $left;
}

// Vendor-specific properties

@mixin box-shadow($box-shadow...) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

@mixin box-sizing($box-sizing: border-box) {
	-webkit-box-sizing: $box-sizing;
	-moz-box-sizing: $box-sizing;
	box-sizing: $box-sizing;
}

@mixin transition($property: all, $duration: .2s, $timing: linear) {
	-webkit-transition: $property $duration $timing;
	-moz-transition: $property $duration $timing;
	-o-transition: $property $duration $timing;
	transition: $property $duration $timing;
}